@import "../../variables.scss";
@import "../ui/icon.global.scss";
@import "../../mixins.scss";

$time-size: 0.75rem;

.root {
  display: flex;
  flex-grow: 1;
}

.documentWrapper {
  margin: 0.5em 0.5em 0;
  display: flex;
  min-width: 12em;
  min-height: 3em;
  align-items: center;

  .documentType {
    width: 3em;
    height: 3em;
  }

  .documentContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
    font-size: 0.8em;
    justify-content: space-between;
    min-height: 3em;
    color: $grey;

    .title {
      font-weight: 600;
      font-size: 1.2em;
      color: $black;
    }
  }
}

.reply {
  background: transparent;
  cursor: pointer;
  padding: $message-spacing $message-spacing 0;
  padding: $message-spacing / 2;
  margin: $message-spacing / 2;
  border-radius: 5px;

  &:hover {
    transition: background-color 0.2s ease;
    background-color: rgba(0, 0, 0, 0.03);
  }

  .replyWrapper {
    pointer-events: none;
    flex-direction: row;
    align-items: center;
    display: flex;
    width: 100%;
    height: 38px;

    .replyBorder {
      height: 32px;
      border-radius: 1px;
      min-width: 2px;
      background: $blue;
    }

    .replyTile {
      margin-left: 4px;
      width: 32px;
      height: 32px;
      min-height: 32px;
      min-width: 32px;
      border-radius: 5px;
      overflow: hidden;

      img {
        user-select: none;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 4px;
      }
    }

    .replyContent {
      font-size: 0.9rem;
      line-height: 1.4;
      margin-left: 8px;
      flex-grow: 1;
      flex-shrink: 1;
      overflow: hidden;

      .replyContentTitle,
      .replyContentText {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .replyContentTitle {
        color: $blue;
        font-weight: 500;
      }

      .replyContentText {
        max-width: 30em;
        font-size: 0.8rem;
      }
    }
  }
}

.container {
  scrollbar-width: none;
  -ms-overflow-style: none;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-image: url("/assets/bg.jpg");
  background-size: cover;
  position: relative;
  padding-right: 0;
  overflow-x: hidden;
  transition: padding-right 0.15s ease-in-out;

  a {
    &,
    &:visited,
    &:active {
      color: $blue;
      text-decoration: none;
    }
  }

  .sentIndicator {
    display: block;
    margin-left: 0.2em;
    height: 16px;
    width: 22px;

    @extend .ic-green;
  }

  .wrapper {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    padding: 0.5rem;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    mask-image: linear-gradient(bottom, transparent, #000 15px);
    -webkit-mask-image: -webkit-linear-gradient(bottom, transparent, #000 15px);
    @include hide-scrollbar;

    .spinner {
      position: absolute;
      border-radius: 50%;
      background-color: #0007;
      top: calc(50% - 25px);
      left: calc(50% - 25px);
      width: 46px;
      height: 46px;
      align-items: center;
      justify-content: center;
      display: none;
    }

    &.initialLoading {
      .spinner {
        display: flex;
      }
    }

    .chatContainer {
      max-width: 45rem;
      width: 100%;
      margin: 0 auto;

      & > * {
        display: flex;
        padding: 5px 0;
      }
    }
  }

  .service {
    justify-content: center;

    .serviceMsg {
      color: #fff;
      background-color: rgba(#000, 0.22);
      font-weight: 500;
      padding: 0 8px;
      line-height: 24px;
      font-size: 15px;
      border-radius: 12px;
      user-select: none;
    }
  }

  .bubble {
    max-width: 480px;
    border-radius: 12px;
    box-shadow: 0 1px 2px 0 rgba(16, 35, 47, 0.15);
    position: relative;
    overflow: hidden;
    overflow-wrap: break-word;

    &.active {
      box-shadow: 0 0 0 4000px rgba(0, 0, 0, 0.15);
      z-index: 99999;
    }

    .reply + :not(.message):not(:empty) {
      margin-top: 0.4em;
    }

    p {
      margin: 0;
    }

    .attachmentWrapper {
      .attachment {
        position: relative;

        &,
        img,
        video {
          width: 100%;
        }
      }
    }

    .message {
      padding: $message-spacing;
    }

    &:not(.imageOnly) {
      .time {
        float: right;
        display: block;
        font-size: $time-size;
        user-select: none;
        height: 20px;

        .inner {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }

    &.isForward {
      position: relative;
      min-width: 11em;

      &::before {
        content: "Forwarded message";
        display: block;
        color: $blue;
        font-weight: 500;
        margin: $message-spacing $message-spacing $message-spacing / 3;
      }

      .fromName {
        text-align: left;
        margin: ($message-spacing / 2) ($message-spacing * 2);
        font-weight: 500;

        &::after {
          content: "";
          display: block;
          background-color: $blue;
          width: 2px;
          top: 35px;
          position: absolute;
          bottom: $message-spacing;
          left: $message-spacing;
        }
      }

      .attachmentWrapper,
      .message {
        margin-left: $message-spacing;
        padding-top: 0;
      }

      .attachmentWrapper:not(:empty) {
        padding: 0 $message-spacing $message-spacing;

        .documentWrapper {
          margin: 0;
        }
      }
    }

    &.emptyText {
      .documentWrapper {
        margin-bottom: -1.3em !important;
      }
    }
  }

  .bubble + .bubble {
    margin-top: 5px;
  }

  .bubble:last-child:not(.imageOnly):not(.sticker) {
    overflow: visible;
    &:after {
      position: absolute;
      -webkit-mask: url(/assets/bubble-tail-left.svg);
      mask: url(/assets/bubble-tail-left.svg);
      display: block;
      width: 11px;
      height: 20px;
      bottom: -1px;
      content: "";
    }
  }

  .in,
  .out {
    position: relative;

    > :last-child {
      flex-direction: column;
      display: flex;
      width: 100%;
    }
  }

  .in {
    .bubble:last-child:after {
      background: $white;
      left: -9px;
    }

    > :last-child {
      align-items: flex-start;

      .box:hover {
        background-color: $light;
      }
      .quote {
        border-left: 2px $blue-dark solid;
        .name {
          color: $blue-dark;
        }
      }
      .bubble {
        background-color: #ffffff;
        border-radius: 6px 12px 12px 6px;

        &:not(.imageOnly) {
          .time {
            color: rgba($grey, 0.6);
            width: 33px;
            .inner {
              padding: 6px 8px;
            }
          }
        }

        circle:global(.audioCircle) {
          fill: $blue;
        }

        svg:global(.waveform .gradient) {
          --color1: #{$blue};
          --color2: #{$grey-light};
        }

        .webPageWrapper {
          border-color: $blue;
          .name {
            color: $blue;
          }
          .text {
            color: $black !important;
          }
        }

        .seekbar {
          @include seekbar-variant($blue-dark, $blue-lighter);
        }

        .fromName {
          color: $blue;
        }
      }
      .bubble:first-child {
        border-radius: 12px 12px 12px 6px;
      }
      .bubble:last-child {
        border-radius: 6px 12px 12px 0px;
      }
      .bubble:first-child:last-child {
        border-radius: 12px 12px 12px 0px;
      }
    }
  }

  .out {
    .bubble:last-child:after {
      background: $green-lighter;
      transform: scaleX(-1);
      right: -9px;
    }

    > :last-child {
      align-items: flex-end;
      .box:hover {
        background-color: rgba($green, 0.12);
      }
      .quote {
        border-left: 2px $green-dark solid;
        .name {
          color: $green-dark;
        }
      }
      .bubble {
        background-color: $green-lighter;
        border-radius: 12px 6px 6px 12px;

        &:not(.imageOnly) {
          .time {
            color: $green-dark;
            min-width: 48px;
            display: inline-block;
            margin-left: 1em;

            .inner {
              display: flex;
              flex-direction: row;
              padding: 6px 5px;
            }
          }
        }

        .documentContent {
          color: $green-dark;
        }

        circle:global(.audioCircle) {
          fill: $green-dark;
        }

        svg:global(.waveform .gradient) {
          --color1: #{$green-dark};
          --color2: #{$green-light};
        }

        .webPageWrapper {
          border-color: $green-dark;
          .name {
            color: $green-dark;
          }
        }

        .fromName {
          color: $green-dark;
        }

        .replyWrapper {
          .replyBorder {
            background: $green-dark;
          }

          .replyContentTitle {
            color: $green-dark;
          }
        }

        .seekbar {
          @include seekbar-variant($green-dark, $green-light);
        }

        &.isForward {
          &::before {
            color: $green-dark;
          }

          .fromName {
            &::after {
              background-color: $green-dark;
            }
          }
        }
      }
      .bubble:first-child {
        border-radius: 12px 12px 6px 12px;
      }
      .bubble:last-child {
        border-radius: 12px 6px 0px 12px;
      }
      .bubble:first-child:last-child {
        border-radius: 12px 12px 0px 12px;
      }
    }
  }

  .sticker {
    margin: 1rem 0;
    width: 180px !important;
    &.animated {
      height: 180px !important;

      .attachmentWrapper {
        img {
          display: none;
        }

        :global(.lottieWrapper):empty + img {
          display: block;
        }
      }
    }

    img,
    svg {
      width: 100%;
    }

    .reply {
      position: absolute;
      background: #00000029;
      color: white;
      border-radius: 3px;
      padding: 5px $message-spacing;
      z-index: 9999;
      right: 0.5rem;
      bottom: 0.5rem;
      max-width: 100px;

      .replyBorder {
        background: $white !important;
      }

      .replyContentTitle {
        color: $white !important;
      }
    }

    &.hasReply {
      .message {
        display: none;
      }
    }
  }

  .sticker,
  .imageOnly {
    position: relative;

    .message {
      position: absolute;
      right: 0;
      bottom: 0;
      height: fit-content;
      font-size: 0.75rem;
      background: #00000029;
      border-radius: 0.9rem;
      padding: 0;

      .time {
        float: none;

        .inner {
          position: relative;
          color: $white !important;
          display: flex;
          flex-direction: row;
          padding: 0.2rem 0.5rem;
        }
      }
    }

    p {
      margin: 0;
    }

    .sentIndicator {
      @extend .ic-white;
    }
  }

  .imageOnly {
    .message {
      right: 1em;
      bottom: 1em;
    }

    .reply {
      margin-bottom: 0.5em;
    }
  }

  .webPageWrapper {
    display: block;
    overflow: hidden;
    font-size: 0.9em;
    margin: 0 4em 0.5em 0.5em;
    padding-left: 0.5em;
    border-left: 2px solid;

    &,
    &:visited {
      color: black;
    }

    .name {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 500;
      margin: 0.5em 0;
    }

    .photo {
      transform: translateZ(0px);
      border-radius: 4px;
      overflow: hidden;
      max-width: 20em;
      height: 11em;

      img {
        user-select: none;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
  }

  .hasReply {
    .message {
      padding-top: 0;
    }
  }
}

:global(.visible) + .container {
  padding-right: $right-sidebar-width;
}

.avatar {
  align-self: flex-end;
}
