@import "../../variables.scss";
@import "../ui/icon.global.scss";
@import "../../mixins.scss";
@import "../../styles.global.scss";

$time-size: 0.75rem;

.root {
  display: flex;
  flex-grow: 1;
  transition: transform $navigation-animation-duration ease;

  @include breakpoint(xs) {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
  }

  // Route to chat
  @include route-xs(c) {
    width: 100vw;
    transform: translate3d(0, 0, 0);
  }

  // Route to anything but chat
  @include route-not-xs(c) {
    visibility: hidden;
    transform: translate3d(100vw, 0, 0);
  }
}

.documentWrapper {
  margin: 0.5em 0.5em 0;
  display: flex;
  min-width: 16em;
  min-height: 3em;
  align-items: center;

  .documentType {
    width: 3.5em;
    height: 3.5em;
  }

  .documentContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
    font-size: 0.8em;
    justify-content: space-between;
    min-height: 3em;
    color: $grey;

    .title {
      font-weight: 600;
      font-size: 1.2em;
      color: $black;
    }
  }
}

.reply {
  background: transparent;
  cursor: pointer;
  padding: $message-spacing $message-spacing 0;
  padding: $message-spacing / 2;
  margin: $message-spacing / 2;
  border-radius: 5px;
  max-width: calc(100vw - 6em);

  &:hover {
    transition: background-color 0.2s ease;
    background-color: rgba(0, 0, 0, 0.03);
  }

  .replyWrapper {
    pointer-events: none;
    flex-direction: row;
    align-items: center;
    display: flex;
    width: 100%;
    height: 38px;

    .replyBorder {
      height: 32px;
      border-radius: 1px;
      min-width: 2px;
      background: $blue;
    }

    .replyTile {
      margin-left: 4px;
      width: 32px;
      height: 32px;
      min-height: 32px;
      min-width: 32px;
      border-radius: 5px;
      overflow: hidden;

      img {
        user-select: none;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 4px;
      }
    }

    .replyContent {
      font-size: 0.9rem;
      line-height: 1.4;
      margin-left: 8px;
      flex-grow: 1;
      flex-shrink: 1;
      overflow: hidden;

      .replyContentTitle,
      .replyContentText {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .replyContentTitle {
        color: $blue;
        font-weight: 500;
      }

      .replyContentText {
        max-width: 30em;
        font-size: 0.8rem;
      }
    }
  }
}

.container {
  scrollbar-width: none;
  -ms-overflow-style: none;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-image: url("/assets/bg.jpg");
  background-size: cover;
  position: relative;
  padding-right: 0;
  overflow-x: hidden;

  a {
    &,
    &:visited,
    &:active {
      color: $blue;
      text-decoration: none;
    }
  }

  .sentIndicator {
    display: block;
    margin-left: 0.2em;
    height: 16px;
    width: 22px;

    @extend .ic-green;
  }

  .wrapper {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    padding: 0.5rem;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    mask-image: linear-gradient(bottom, transparent, #000 15px);
    -webkit-mask-image: -webkit-linear-gradient(bottom, transparent, #000 15px);
    @include hide-scrollbar;

    .spinner {
      position: absolute;
      border-radius: 50%;
      background-color: #0007;
      top: calc(50% - 25px);
      left: calc(50% - 25px);
      width: 46px;
      height: 46px;
      align-items: center;
      justify-content: center;
      display: none;
    }

    &.initialLoading {
      .spinner {
        display: flex;
      }
    }

    .chatContainer {
      max-width: $chat-container-width;
      width: 100%;
      margin: 0 auto;

      & > * {
        display: flex;
        padding: 5px 0;
      }
    }
  }

  .service {
    justify-content: center;

    .serviceMsg {
      color: #fff;
      background-color: rgba(#000, 0.22);
      font-weight: 500;
      padding: 0 8px;
      line-height: 24px;
      font-size: 15px;
      border-radius: 12px;
      user-select: none;
    }
  }

  .bubble {
    max-width: 480px;
    border-radius: 12px;
    box-shadow: 0 1px 2px 0 rgba(16, 35, 47, 0.15);
    position: relative;
    overflow: hidden;
    overflow-wrap: break-word;
    cursor: default;

    &.noOverflow {
      overflow: unset;
    }

    pre {
      white-space: break-spaces;
    }

    &.roundBubble {
      overflow: visible;

      &,
      .attachmentWrapper {
        border-radius: 50% !important;
      }

      .attachmentWrapper {
        overflow: hidden;
      }
    }

    &.active {
      box-shadow: 0 0 0 4000px rgba(0, 0, 0, 0.15);
      z-index: 99999;
    }

    .reply + :not(.message):not(:empty) {
      margin-top: 0.4em;
    }

    p {
      margin: 0;
    }

    .attachmentWrapper {
      .attachment {
        position: relative;

        &,
        img,
        video {
          width: 100%;
        }
      }
    }

    .message {
      padding: $message-spacing;
      word-break: break-word;
    }

    &:not(.imageOnly) {
      .time {
        float: right;
        display: block;
        font-size: $time-size;
        user-select: none;
        height: 20px;

        .inner {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }

    &.isForward {
      position: relative;
      min-width: 11em;

      &::before {
        content: "Forwarded message";
        display: block;
        color: $blue;
        font-weight: 500;
        margin: $message-spacing $message-spacing $message-spacing / 3;
      }

      .fromName {
        text-align: left;
        margin: ($message-spacing / 2) ($message-spacing * 2);
        font-weight: 500;

        &::after {
          content: "";
          display: block;
          background-color: $blue;
          width: 2px;
          top: 35px;
          position: absolute;
          bottom: $message-spacing;
          left: $message-spacing;
        }
      }

      .attachmentWrapper,
      .message {
        margin-left: $message-spacing;
        padding-top: 0;
      }

      .attachmentWrapper:not(:empty) {
        padding: 0 $message-spacing $message-spacing;

        .documentWrapper {
          margin: 0;
        }
      }
    }

    &.emptyText {
      .documentWrapper {
        margin-bottom: -1.3em !important;
      }
    }
  }

  .bubble + .bubble {
    margin-top: 5px;
  }

  .bubble:last-child:not(.imageOnly):not(.sticker):not(.allEmoji) {
    overflow: visible;
    &:after {
      position: absolute;
      -webkit-mask: url(/assets/bubble-tail-left.svg);
      mask: url(/assets/bubble-tail-left.svg);
      display: block;
      width: 11px;
      height: 20px;
      bottom: -1px;
      content: "";
    }
  }

  .in,
  .out {
    position: relative;

    > :last-child {
      flex-direction: column;
      display: flex;
      width: 100%;
    }
  }

  .in {
    .bubble:last-child:after {
      background: $white;
      left: -9px;
    }

    > :last-child {
      align-items: flex-start;

      .box:hover {
        background-color: $light;
      }
      .quote {
        border-left: 2px $blue-dark solid;
        .name {
          color: $blue-dark;
        }
      }
      .bubble {
        background-color: #ffffff;
        border-radius: 6px 12px 12px 6px;

        &:not(.imageOnly) {
          .time {
            color: rgba($grey, 0.6);
            width: 33px;
            .inner {
              padding: 6px 8px;
            }
          }
        }

        circle:global(.audioCircle) {
          fill: $blue;
        }

        svg:global(.waveform .gradient) {
          --color1: #{$blue};
          --color2: #{$grey-light};
        }

        .webPageWrapper {
          border-color: $blue;
          .name {
            color: $blue;
          }
          .text {
            color: $black !important;
          }
        }

        .seekbar {
          @include seekbar-variant($blue-dark, $blue-lighter);
        }

        .fromName {
          color: $blue;
        }

        :global(.tooltip):after {
          right: unset;
          left: 0;
        }
      }
      .bubble:first-child {
        border-radius: 12px 12px 12px 6px;
      }
      .bubble:last-child {
        border-radius: 6px 12px 12px 0px;
      }
      .bubble:first-child:last-child {
        border-radius: 12px 12px 12px 0px;
      }
    }
  }

  .out {
    .bubble:last-child:after {
      background: $green-lighter;
      transform: scaleX(-1);
      right: -9px;
    }

    > :last-child {
      align-items: flex-end;
      .box:hover {
        background-color: rgba($green, 0.12);
      }
      .quote {
        border-left: 2px $green-dark solid;
        .name {
          color: $green-dark;
        }
      }
      .bubble {
        background-color: $green-lighter;
        border-radius: 12px 6px 6px 12px;

        &:not(.imageOnly) {
          .time {
            color: $green-dark;
            min-width: 48px;
            display: inline-block;
            margin-left: 1em;

            .inner {
              display: flex;
              flex-direction: row;
              padding: 6px 5px;
            }
          }
        }

        .documentContent {
          color: $green-dark;
        }

        circle:global(.audioCircle) {
          fill: $green-dark;
        }

        svg:global(.waveform .gradient) {
          --color1: #{$green-dark};
          --color2: #{$green-light};
        }

        .webPageWrapper {
          border-color: $green-dark;
          .name {
            color: $green-dark;
          }
        }

        .fromName {
          color: $green-dark;
        }

        .replyWrapper {
          .replyBorder {
            background: $green-dark;
          }

          .replyContentTitle {
            color: $green-dark;
          }
        }

        .seekbar {
          @include seekbar-variant($green-dark, $green-light);
        }

        &.isForward {
          &::before {
            color: $green-dark;
          }

          .fromName {
            &::after {
              background-color: $green-dark;
            }
          }
        }
      }
      .bubble:first-child {
        border-radius: 12px 12px 6px 12px;
      }
      .bubble:last-child {
        border-radius: 12px 6px 0px 12px;
      }
      .bubble:first-child:last-child {
        border-radius: 12px 12px 0px 12px;
      }
    }

    .allEmoji {
      .message {
        > span:first-child {
          text-align: right;
        }
      }
    }
  }

  .allEmoji,
  .sticker {
    margin: 1rem 0;
    width: 180px !important;

    &.animated {
      height: 180px !important;

      .attachmentWrapper {
        img {
          display: none;
        }

        :global(.lottieWrapper):empty + img {
          display: block;
        }
      }
    }

    img,
    svg {
      width: 100%;
    }

    .reply {
      position: absolute;
      background: #00000029;
      color: white;
      border-radius: 3px;
      padding: 5px $message-spacing;
      z-index: 9999;
      right: 0.5rem;
      bottom: 0.5rem;
      max-width: 100px;

      .replyBorder {
        background: $white !important;
      }

      .replyContentTitle {
        color: $white !important;
      }
    }

    &.hasReply {
      .message {
        display: none;
      }
    }
  }

  .sticker,
  .imageOnly {
    position: relative;

    .message {
      @extend .grey-area;

      .time {
        @extend .grey-time;
      }
    }

    p {
      margin: 0;
    }

    .sentIndicator {
      @extend .ic-white;
    }
  }

  .allEmoji {
    width: auto !important;
    min-width: 6em;
    position: relative;

    .reply {
      top: 0.5rem;
      left: 0;
      bottom: auto;
      max-width: initial;
    }

    &.hasReply {
      .message {
        display: block;
        margin-top: 4em;
      }
    }

    .message {
      position: relative;

      > span:first-child {
        font-size: 3em;
        padding-bottom: 0.4em;
        display: block;
      }

      > .time {
        @extend .grey-area;
        @extend .grey-time;
      }
    }
  }

  .imageOnly {
    .message {
      right: 1em;
      bottom: 1em;
    }

    .reply {
      margin-bottom: 0.5em;
    }
  }

  .webPageWrapper {
    display: block;
    overflow: hidden;
    font-size: 0.9em;
    margin: 0 4em 0.5em 0.5em;
    padding-left: 0.5em;
    border-left: 2px solid;

    &,
    &:visited {
      color: black;
    }

    .name {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 500;
      margin: 0.5em 0;
    }

    .photo {
      transform: translateZ(0px);
      border-radius: 4px;
      max-width: 20em;
      max-height: 11em;
      display: flex;

      img {
        user-select: none;
        display: block;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
  }

  .hasReply {
    .message {
      padding-top: 0;
    }
  }
}

$min-width-for-sidebar-animation: $chat-container-width + $left-sidebar-width +
  $right-sidebar-width;

@media screen and (min-width: $min-width-for-sidebar-animation) {
  :global(.visible) + .container {
    > form,
    .chatContainer {
      transform: translate3d(-$right-sidebar-width / 2, 0, 0);
    }

    > :first-child > div {
      --extra-space: #{$right-sidebar-width};
    }
  }

  .container {
    > form,
    .chatContainer {
      transition: transform $navigation-animation-duration ease-in-out;
    }
  }
}

@media screen and (min-wdith: $breakpoint-sm) and (max-width: $min-width-for-sidebar-animation) {
  :global(.visible) + .container {
    padding-right: $right-sidebar-width;
  }
}

.avatar {
  align-self: flex-end;
}

.grey-area {
  position: absolute;
  right: 0;
  bottom: 0;
  height: fit-content;
  font-size: 0.75rem;
  background: #00000029;
  border-radius: 0.9rem;
  padding: 0;
}

.grey-time {
  .inner {
    position: relative;
    color: $white !important;
    display: flex;
    flex-direction: row;
    padding: 0.2rem 0.5rem;
    float: none;

    :global(.ic) {
      @extend .ic-white;
    }
  }
}

.pollWrapper {
  min-width: 15em;
  padding: 0.6em 0.6em 0;
  margin-bottom: -0.5em;

  .heading {
    margin-bottom: 0.5em;

    .question {
      font-weight: 600;
    }

    .solution {
      flex: 1;
      text-align: right;
    }

    > :nth-child(2):not(:empty) {
      display: flex;
      color: $grey;
      margin-top: 0.2em;
      align-items: center;
      height: 1.75em;

      > :first-child {
        font-size: 0.8em;
        padding-right: 1em;
      }

      .recentVoters {
        display: flex;

        > div {
          margin: 0;

          &:not(:first-child) {
            margin-left: -3px;
            box-shadow: -1.2px 0 0 white;
          }
        }
      }
    }
  }

  .answersWrapper {
    .answer {
      --p-color: #{$blue};

      &.wrong {
        --p-color: #{$red};
      }

      &:not(:last-child) {
        margin-bottom: 1em;

        &.voted {
          margin-bottom: 0.5em;
        }
      }

      > .voters,
      > button,
      > :nth-child(2) {
        display: inline-block;
      }

      > label {
        padding-left: 1em;
        min-width: calc(100% - 4em);
      }

      > .voters {
        font-size: 0.8em;
        padding-top: 0.4em;
        font-weight: bold;
        width: 2.9em;
        text-align: right;
        margin-right: 0.7em;
      }

      > button {
        border-radius: 1em;
        width: 1em;
        height: 1em;
        background: none;
        border: 2px solid #0000003b;
        outline: none;

        &,
        &.active {
          transition: all 0.3s ease;
        }

        &.active {
          background-color: $blue;
          border-color: transparent;
          position: relative;

          &:after {
            content: "";
            background-image: url(/assets/icons/check.svg);
            display: block;
            width: 0.8em;
            height: 0.8em;
            position: absolute;
            left: 0;
            top: 0;
            background-size: contain;
            background-repeat: no-repeat;

            @extend .fadeIn;
            @extend .ic-white;
          }
        }
      }

      .progressWrapper {
        display: flex;
        align-items: center;
        margin-top: 0.3em;

        .icon {
          background-color: var(--p-color);
          width: 1em;
          height: 1em;
          border-radius: 0.5em;
          margin-left: 1.3em;
          margin-right: 0.5em;

          &.invisible {
            visibility: hidden;
          }

          > :global(.ic) {
            display: block;
            width: 0.9em;
            margin-top: 0.05em;
            margin-left: 0.05em;
          }
        }

        .barWrapper {
          flex: 1;

          .bar {
            border-radius: 2px;
            height: 4px;
            min-width: 4px;
            background-color: var(--p-color);
          }
        }
      }
    }
  }

  .footer {
    text-align: center;
    color: $grey;
    font-size: 0.9em;
    height: 1.25em;
    margin-top: 0.5em;

    > button {
      outline: none;
      background: none;
      border: none;
      width: 100%;
      color: $blue;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
