@import "../../variables.scss";
@import "../../mixins.scss";
@import "../ui/icon.global.scss";

.container {
  display: flex;
  max-width: 46rem;
  width: 100%;
  margin: auto;
  align-items: flex-end;
  margin-bottom: 2rem;
  padding: 0 0.5em;

  .inputArea {
    flex-grow: 1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
    margin-right: 1rem;
    position: relative;
    background-color: #fff;
    border-radius: 1rem 1rem 0 1rem;
    padding: 0.2em 0 0.3em;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      right: -23px;
      width: 1.5rem;
      height: 2rem;
      background-color: transparent;
      border-radius: 0 15px;
      box-shadow: -14px 0 0 #fff;
    }

    > div {
      flex-grow: 1;
      padding: 0 $input-padding-h/2;
      display: flex;
      align-items: flex-end;

      > button {
        margin: 0;
        padding: 0;
        width: 2.8em;
        height: 2.8em;

        &:hover > :global(.ic) {
          @extend .ic-blue;
        }
      }

      &.quoteRow {
        align-items: center;
      }

      &.inputRow {
        .messageInput {
          line-height: 1.2;
          max-height: 10rem;
          overflow-y: auto;
          width: 100%;
          outline: none;
          font-size: 1rem;
          border: none;
          resize: none;
          min-width: 2rem;
          display: block;
          padding: $input-padding-v $input-padding-h/2;
          margin-right: 1em;
          flex: 1;

          p {
            margin: 0;
          }
        }
      }
    }
  }

  > button {
    background-color: $blue;
  }

  .attachmentMenu {
    right: 0;
    bottom: calc(100% + 10px);
    transform-origin: bottom right;
    animation: none;
    @include popover-animation;
  }
}

.captionInput {
  margin: 1.5rem 0 1rem;
}

.fileItem {
  display: flex;
  margin-bottom: 0.75rem;

  > :first-child {
    width: 3rem;
  }

  > :last-child {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    justify-content: space-evenly;

    > * {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    > :last-child {
      color: $grey;
    }
  }
}

.mediaItem {
  width: 100%;
  max-width: 25em;
  max-height: 20em;
  border-radius: 10px;
  overflow: hidden;

  &:not(:first-child) {
    margin-top: 1em;
  }

  img {
    width: 100%;
  }
}
