@import "../../variables.scss";

.container {
  background-color: #fff;
  border-right: 1px solid $grey-light;
  width: 350px;

  .dialogsWrapper {
    flex-grow: 1;
    height: calc(100vh - #{$top-bar-height});
    overflow-y: scroll;
  }
}

.topMenu {
  padding: 0.75rem 1rem;
  height: $top-bar-height;
  display: flex;
  flex-direction: row;

  > :last-child {
    margin-left: 1rem;
    flex-grow: 1;
  }
}

.dialogsList {
  padding: 0.25rem 0;
  position: relative;

  &:empty {
    padding: 0;
  }

  &.pinned {
    &:not(:empty):after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      border-bottom: 1px solid $grey-light;
      left: 0;
      right: 0;
    }
  }
}
