@import "../../variables.scss";
@import "../../mixins.scss";

.container {
  display: flex;
  background-color: #fff;
  height: $top-bar-height;
  border-bottom: 1px solid $grey-light;
  padding: 0 1rem;
  align-items: center;

  > button {
    margin-left: -0.5rem;
    display: none;

    @include breakpoint(xs) {
      display: block;
    }
  }

  > .profileHolder {
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    display: flex;

    .meta {
      line-height: 1.6;

      .title {
        font-weight: 500;
        width: 100%;
        max-width: 35em;
      }

      .subdue {
        font-weight: 400;
        color: $grey;
        font-size: 0.875rem;

        .online {
          color: $blue;
        }
      }

      .title, .subdue {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .buttons {
    display: flex;
    align-items: center;
  }
}
