@import "../../variables.scss";
@import "../../mixins.scss";

.container {
  display: flex;
  background-color: #fff;
  height: $top-bar-height;
  border-bottom: 1px solid $grey-light;
  --extra-space: 0rem;
  padding: 0 calc(1rem + var(--extra-space)) 0 1rem;
  align-items: center;

  > button {
    margin-left: -0.5rem;
    display: none;

    @include breakpoint(xs) {
      display: block;
    }
  }

  > .profileHolder {
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    display: flex;

    .meta {
      line-height: 1.6;
      flex: 1;

      .title {
        font-weight: 500;
        width: 100%;
        max-width: 35em;

        @include breakpoint(xs) {
          max-width: 11em;
        }
      }

      .subdue {
        font-weight: 400;
        color: $grey;
        font-size: 0.875rem;

        .online {
          color: $blue;
        }
      }

      .title,
      .subdue {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .buttons {
    display: flex;
    align-items: center;
  }
}

.pinned:not(:empty) {
  border-left: 2px solid $blue;
  padding-left: 0.5em;
  height: 2.75em;
  cursor: pointer;

  &:before {
    content: "Pinned Message";
    display: block;
    font-weight: 500;
    color: $blue;
  }

  > div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 20em;

    @include breakpoint(xs) {
      max-width: 11em;
    }
  }
}
