@import "../../variables.scss";
@import "../../mixins.scss";

.root {
  animation: animateIn $right-sidebar-animation-duration ease-in-out;
  overflow-x: hidden;
  border-left: 1px solid $grey-light;
  position: fixed;
  // position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  transform: translate3d(0, 0, 0);

  &:not(:global(.visible)) {
    transition: transform $right-sidebar-animation-duration ease-in-out;
    transform: translate3d($right-sidebar-width, 0, 0);
  }

  &,
  :global(.route) {
    width: $right-sidebar-width;
    overflow-x: hidden;
  }

  @include breakpoint(xs) {
    z-index: 999999999;

    &,
    :global(.route) {
      width: 100vw;
    }
  }
}

.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@keyframes animateIn {
  from {
    transform: translate3d($right-sidebar-width, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.heading {
  display: flex;
  align-items: center;
  margin: 0.5em;

  .title {
    flex-grow: 1;
    font-weight: 500;
    font-size: 1.1em;
    padding: 0 1em;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;

  .name {
    font-size: 1.4em;
    font-weight: 500;
    margin: 0.5em 0 0.1em;
  }
}

.profileDetail {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1em;

  > :last-child {
    margin-left: 1em;
    display: flex;
    flex-direction: column;

    > :first-child {
      font-weight: 300;
    }
    > :last-child {
      font-weight: 300;
      font-size: 0.98em;
      margin-top: 0.3em;
      color: $grey;
    }
  }
}
