@import "../../variables.scss";

.container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;

  :global(.audioPlayer) {
    margin: 1em 2em 0.5em 1em;
  }

  circle:global(.audioCircle) {
    fill: $blue;
  }

  svg:global(.waveform .gradient) {
    --color1: #{$blue};
    --color2: #{$grey-light};
  }

  svg:global(.waveform) {
    height: 26px;
  }

  :global(.spinner) {
    margin: 1rem auto;
    display: none;
  }

  &:not(.loaded) {
    :global(.spinner):only-child {
      display: block;
    }
  }
}
