@import "../../variables.scss";

.container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
  // padding: .75rem .75rem;

  :global(.spinner) {
    margin: 1rem auto;
    display: none;
  }

  &:not(.loaded) {
    :global(.spinner):only-child {
      display: block;
    }
  }

  > div {
    margin-bottom: 1.5rem;
  }
}
