@import "../../variables.scss";
@import "../../mixins.scss";

.container {
  background-color: #fff;
  border-right: 1px solid $grey-light;
  width: $left-sidebar-width;
  position: relative;
  overflow: hidden;

  @include breakpoint(xs) {
    z-index: 1;
  }

  // Route to chat
  @include route-xs(dl) {
    width: 100vw;
    transition: transform $navigation-animation-duration ease, visibility $navigation-animation-duration step-start;
  }
  
  // Route to anything but chat
  @include route-not-xs(dl) {
    visibility: hidden;
    transition: transform $navigation-animation-duration ease, visibility $navigation-animation-duration step-end;
  }

  .dialogsWrapper {
    flex-grow: 1;
    overflow-y: scroll;
    height: 100%;
    position: relative;
    background-color: $white;

    :global(.spinner) {
      position: absolute;
      top: calc(50% - 40px);
      left: calc(50% - 20px);
      display: none;
    }

    &.loading {
      :global(.spinner) {
        display: block;
      }
    }

    @include nice-scroll;
  }
}

.topMenu {
  padding: 0.5rem 1rem;
  height: $top-bar-height;
  display: flex;
  flex-direction: row;

  > :not(:first-child) {
    margin: 0 0.5rem;
    flex-grow: 1;
  }

  .title {
    font-weight: 500;
    display: flex;
    align-items: center;
  }
}

.dialogsList {
  padding: 0.5rem;
  position: relative;

  &:first-of-type {
    padding-top: 0;
  }

  &:empty {
    padding: 0;
  }

  &.pinned {
    &:not(:empty):after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      border-bottom: 1px solid $grey-light;
      left: 0;
      right: 0;
    }
  }
}
