@import "../../variables.scss";
@import "../../mixins.scss";

.container {
  background-color: #fff;
  border-right: 1px solid $grey-light;
  width: 26.5em;
  position: relative;
  overflow: hidden;

  .dialogsWrapper {
    flex-grow: 1;
    overflow-y: scroll;
    height: 100%;
    position: relative;

    :global(.spinner) {
      position: absolute;
      top: calc(50% - 40px);
      left: calc(50% - 20px);
      display: none;
    }

    &.loading {
      :global(.spinner) {
        display: block;
      }
    }

    @include nice-scroll;
  }
}

.topMenu {
  padding: 0.5rem 1rem;
  height: $top-bar-height;
  display: flex;
  flex-direction: row;

  > :last-child {
    margin: 0 0.5rem;
    flex-grow: 1;
  }
}

.dialogsList {
  padding: 0.5rem;
  position: relative;

  &:first-of-type {
    padding-top: 0;
  }

  &:empty {
    padding: 0;
  }

  &.pinned {
    &:not(:empty):after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      border-bottom: 1px solid $grey-light;
      left: 0;
      right: 0;
    }
  }
}
