@mixin nice-scroll {
  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: $blue;
      border-radius: 2px;
    }
  }
}

@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
  -ms-overflow-style: none;
}

@mixin popover-animation {
  opacity: 0;
  transform: scale(0);

  &:global(.visible) {
    opacity: 1;
    transform: scale(1);
    animation: popoverAnimateIn .4s cubic-bezier(0.5, 0.65, 0.25, 0.9);
  }

  &, &:global(.visible) {
    transition: all .4s cubic-bezier(0.5, 0.65, 0.25, 0.9);
  }
}

@keyframes popoverAnimateIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}