@mixin nice-scroll {
  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: $blue;
      border-radius: 2px;
    }
  }
}

@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
  -ms-overflow-style: none;
}

@mixin popover-animation {
  opacity: 0;
  transform: scale(0);

  &:global(.visible) {
    opacity: 1;
    transform: scale(1);
    animation: popoverAnimateIn 0.4s cubic-bezier(0.5, 0.65, 0.25, 0.9);
  }

  &,
  &:global(.visible) {
    transition: all 0.4s cubic-bezier(0.5, 0.65, 0.25, 0.9);
  }
}

@keyframes popoverAnimateIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@mixin slide-animation {
  opacity: 0;
  max-height: 0;
  overflow: hidden;

  &:global(.visible) {
    opacity: 1;
    max-height: 100%;
    animation: slideUp 0.4s cubic-bezier(0.5, 0.65, 0.25, 0.9);
  }

  &,
  &:global(.visible) {
    transition: all 0.4s cubic-bezier(0.5, 0.65, 0.25, 0.9) !important;
  }
}

@keyframes slideUp {
  from {
    overflow: hidden;
    opacity: 0;
    max-height: 0;
  }
  to {
    overflow: initial;
    opacity: 1;
    max-height: 100%;
  }
}

$thumb-radius: 5px !default;
$thumb-height: 10px !default;
$thumb-width: 10px !default;

$track-width: 100% !default;
$track-height: 2px !default;

$track-radius: 1px !default;
$contrast: 5% !default;

@mixin track {
  cursor: default;
  height: $track-height;
  transition: all 0.2s ease;
  width: $track-width;
}

@mixin thumb {
  background: var(--lower);
  border-radius: $thumb-radius;
  box-sizing: border-box;
  cursor: default;
  height: $thumb-height;
  width: $thumb-width;
}

@mixin seekbar {
  -webkit-appearance: none;
  background: var(--upper);
  margin: $thumb-height / 2 0;
  width: $track-width;

  &::-moz-focus-outer {
    border: 0;
  }

  &:focus {
    outline: 0;
  }

  &::-webkit-slider-runnable-track {
    @include track;
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none;
    margin-top: $track-height / 2 - $thumb-height / 2;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }

    &,
    &:hover {
      transition: transform 0.3s ease;
    }
  }

  &::-moz-range-track {
    @include track;
    border-radius: $track-radius;
    height: $track-height / 2;
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-track {
    @include track;
    background: transparent;
    border-color: transparent;
    border-width: ($thumb-height / 2) 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    border-radius: ($track-radius * 2);
  }

  &::-ms-fill-upper {
    border-radius: ($track-radius * 2);
  }

  &::-ms-thumb {
    @include thumb;
    margin-top: $track-height / 4;
  }
}

@mixin seekbar-variant($lower, $upper) {
  --lower: #{$lower};
  --upper: #{$upper};

  &::-ms-fill-lower {
    background: darken($lower, $contrast);
  }

  &:focus {
    &::-ms-fill-lower {
      background: $lower;
    }

    &::-ms-fill-upper {
      background: lighten($upper, $contrast);
    }
  }

  &::-moz-range-track {
    background: $lower;
  }

  &::-ms-fill-upper {
    background: $lower;
  }
}

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: $breakpoint-sm + 1px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin route-not($route) {
  [data-route]:not([data-route="#{$route}"]) & {
    @content;
  }
}

@mixin route($route) {
  [data-route="#{$route}"] & {
    @content;
  }
}

@mixin route-xs($route) {
  @include route($route) {
    @include breakpoint(xs) {
      @content;
    }
  }
}

@mixin route-not-xs($route) {
  @include route-not($route) {
    @include breakpoint(xs) {
      @content;
    }
  }
}
