@import "variables.scss";
@import "mixins.scss";

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body,
input,
textarea,
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

#initial-loading {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  .ic {
    width: 2rem;
  }
}

.sign-in {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  form {
    > .profile-photo-picker,
    > .monkey,
    > img {
      width: 10rem;
      height: 10rem;
      display: block;
      margin: auto;
    }

    .profile-photo-picker {
      background-color: $blue;
      border-radius: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .ic {
        width: 3rem;
      }
    }

    width: 100%;
    max-width: 350px;
    margin-top: 1rem;
    text-align: center;
  }

  h1 {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 3rem;
  }
}

h1 {
  font-weight: 500;
}

h4 {
  font-weight: 300;
  color: $grey;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.ripple-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
  pointer-events: none;
  overflow: hidden;
}

.ripple {
  position: relative;
  overflow: hidden;
}

:global(.spinner) {
  animation: spinner 0.5s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Opera and Firefox */
}

.hideSVG {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.blur {
  filter: url("#sharpBlur");
}

.pointer {
  cursor: pointer;
}

svg .extension {
  fill: #fff;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1.7em;
}

svg.waveform {
  #g {
    --color1: black;
    --color2: grey;

    stop {
      transition: offset 0.2s ease;
    }
  }
}

.downloadIndicator {
  position: absolute;
  width: $download-indicator-size;
  height: $download-indicator-size;
  margin-left: -$download-indicator-size/2;
  margin-top: -$download-indicator-size/2;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  border-radius: $download-indicator-size/2;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 100% !important;
  }

  .ic {
    width: 3em !important;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

.router {
  position: relative;
  overflow: hidden;
  height: 100%;

  .route {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
}

.audioPlayer {
  input[type="range"] {
    @include seekbar;
    @include seekbar-variant($blue-dark, $blue-lighter);
  }
}