$input-border-width: 0.0625rem;
$input-padding-v: 0.9rem;
$input-padding-h: 0.9rem;
$input-radius: 11px;

$top-bar-height: 4.75rem;

$placeholder-color: #a2acb4;
$grey-lighter: #f4f4f5;
$grey-light: #dadce0;
$unread-count-bg: #c4c9cc;
$grey: #666666;
$white: white;
$black: black;
$light: rgba($grey, 0.08);

$blue: #4ea4f7;
$blue-dark: #1da1f1;

$green-lighter: #eeffde;
$green-light: #aedfa4;
$green: #4ccd5e;
$green-dark: #50af4f;

$red: #e53934;

@keyframes popoverAnimateIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
