$input-border-width: 0.0625rem;
$input-padding-v: 0.9rem;
$input-padding-h: 0.9rem;
$input-radius: 11px;
$message-spacing: 9px;

$top-bar-height: 3.75rem;
$right-sidebar-width: 25em;
$emoji-panel-width: 25.2em;
$emoji-panel-height: 25em;

$placeholder-color: #a2acb4;
$placeholder-text-color: #707579;
$grey-lighter: #f4f4f5;
$grey-light: #dadce0;
$unread-count-bg: #c4c9cc;
$grey: #666666;
$white: white;
$black: black;
$light: rgba($grey, 0.08);

$light-hover-base: #707579;
$light-hover: rgba($light-hover-base, 0.08);

$dark-hover-base: $black;
$dark-hover: rgba($light-hover-base, 0.08);

$blue: #4ea4f7;
$blue-dark: #1da1f1;
$blue-lighter: #e6ecf0;

$green-lighter: #eeffde;
$green-light: #aedfa4;
$green: #4ccd5e;
$green-dark: #50af4f;

$red: #e53934;

$download-indicator-size: 5em;
