$input-border-width: 0.125rem;
$input-padding-v: 0.9rem;
$input-padding-h: 0.9rem;
$input-radius: 11px;

$placeholder-color: #a2acb4;
$grey-lighter: #f4f4f5;
$grey-light: #dadce0;
$unread-count-bg: #c4c9cc;
$grey: #666666;
$blue: #4ea4f7;
$green: #4ccd5e;
