@import "../../variables.scss";

.wrapper {
  display: inline-block;

  label {
    display: block;
    width: 1em;
    height: 1em;
    border: 2px solid $blue-dark;
    border-radius: 3px;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: -0.15em;
      left: 0.2em;
      width: 0.25em;
      height: 0.65em;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }


  label,
  input:checked + label {
    transition: background-color 0.15s ease;
  }

  input:checked + label {
    background-color: $blue-dark;
    position: relative;
  }
}
