@import "../../variables.scss";

.container {
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px 1px #00000024;
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .item {
    display: flex;
    padding: 20px;
    background: none;
    outline: none;
    border: none;
    align-items: center;
    text-align: left;
    cursor: pointer;

    &:hover {
      background-color: $grey-lighter;
    }

    .title {
      flex: 1;
      padding-left: 1.5em;
    }
  }
}
