@import "../../variables.scss";
@import "../../styles.global.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5625rem 0;
  border-radius: 11px;
  user-select: none;
  cursor: pointer;
  @extend .noselect;

  & + .container {
    margin-top: 0.25rem;
  }

  @include breakpoint(sm) {
    .acitve,
    &:hover,
    &.active {
      background-color: $light-hover;
    }
  }

  &,
  &:hover {
    transition: background-color 0.3s ease;
  }

  .meta,
  .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .text {
    flex-grow: 1;
    min-width: 0;
    text-align: left;

    > * {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
    }

    > :first-child {
      font-weight: 500;
      font-size: 1em;
      margin-bottom: 0.3rem;
      line-height: 1.5;
    }

    > :nth-child(2) {
      font-weight: 300;
      font-size: 1em;
      color: $grey;
      width: 90%;
      height: 1.3em;

      span {
        // More control over the text
        line-height: 1;
      }
    }
  }

  .meta {
    white-space: nowrap;
    padding-right: 0.5rem;
    align-items: flex-end;

    .dateWrapper {
      display: flex;

      > div {
        margin-right: 0.2em;
        > :global(.ic) {
          height: 14px;
        }
      }

      > span {
        display: block;
        flex: 1;
        font-weight: 500;
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
        color: $grey;
        font-size: 0.75rem;
        font-weight: 200;
        margin-bottom: 0;
        height: 1.3rem;
        padding-right: 0.1rem;
        text-align: right;
      }
    }

    > :nth-child(2) {
      background-color: $green;
      color: white;
      display: block;
      min-width: 1.5rem;
      padding: 0 0.3rem;
      height: 1.5rem;
      text-align: center;
      padding-top: 0.175rem;
      border-radius: 0.75rem;
      font-size: 0.875rem;
      font-weight: 500;

      &:empty {
        background-color: transparent;
      }

      &.unreadIcon,
      &.silent {
        background-color: $unread-count-bg;
      }

      &.unreadIcon {
        padding: 0.05rem 0;
      }
    }
  }
}
