@import "../../variables.scss";
@import "../../mixins.scss";

.container {
  border-radius: 10px;
  position: absolute;
  left: 0.5em;
  bottom: calc(100% + 10px);
  background-color: #fff;
  box-shadow: 0 0 10px #00000030;
  transform-origin: bottom left;
  width: $emoji-panel-width;
  height: $emoji-panel-height;
  display: flex;
  flex-direction: column;

  @include breakpoint(sm) {
    @include popover-animation;
  }

  @include breakpoint(xs) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: #{$emoji-panel-height-xs};
    width: 100%;
    border-radius: 0;
    z-index: 999999999;
    @include slide-animation;
  }
  
  .tabsContainer {
    flex-direction: column-reverse;

    > :first-child {
      box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.08);
      border-bottom: none;
    }
  }

  .tabs {
    position: relative;
    padding: 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint(xs) {
      overflow-x: scroll;
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    .tab {
      text-align: center;
      padding: 0.8em 0;
      cursor: pointer;
      color: $grey;
      font-weight: 500;
      position: relative;
      margin: 0 0.8em;
      border: none;
      background: none;
      outline: none;

      &.active {
        &:after {
          content: "";
          display: block;
          height: 3px;
          background-color: $blue;
          border-radius: 3px 3px 0 0;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
        }

        color: $blue;
      }
    }
  }
}
