@import "../../styles.global.scss";
@import "../../variables.scss";

$size: 2.75rem;

.btn {
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  width: $size;
  height: $size;
  min-width: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0;

  &,
  &:hover {
    transition: background-color 0.3s ease;
  }

  &.light {
    &:hover {
      background-color: $light-hover;
    }
  }

  &.dark {
    &:hover {
      background-color: $dark-hover;
    }
  }

  &.primary {
    background-color: $blue;
    &:hover {
      background-color: lighten($blue, 2%);
    }
  }
}
