.ic {
  &-white {
    filter: invert(100%) sepia(0%) saturate(7463%) hue-rotate(110deg)
      brightness(98%) contrast(97%);
  }

  &-blue {
    filter: invert(52%) sepia(84%) saturate(966%) hue-rotate(185deg)
      brightness(100%) contrast(94%);
  }

  &-grey {
    filter: invert(38%) sepia(0%) saturate(2896%) hue-rotate(317deg)
      brightness(97%) contrast(74%);
  }

  &-grey-light {
    filter: invert(98%) sepia(2%) saturate(373%) hue-rotate(185deg)
      brightness(94%) contrast(86%);
  }

  &-green {
    filter: invert(54%) sepia(57%) saturate(444%) hue-rotate(71deg)
      brightness(96%) contrast(90%);
  }

  &-red {
    filter: invert(64%) sepia(87%) saturate(6174%) hue-rotate(339deg)
      brightness(90%) contrast(100%);
  }

  &-sprite {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
  }

  &-menu_close_sprite {
    background-image: url("/assets/icons/menu_close_sprite.svg");
  }

  &-sprite-start {
    background-position: 0px 0px;
  }

  &-sprite-end {
    background-position: -432px 0px;
  }

  &-sprite-start, &-sprite-end {
    transition: background-position .3s steps(18);
  }
}
