@import "../../styles.global.scss";
@import "../../variables.scss";

.btn {
  @extend .ripple;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  width: 2.75rem;
  height: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;

  &,
  &:hover {
    transition: background-color 0.3s ease;
  }

  &.light {
    &:hover {
      background-color: $light-hover;
    }
  }

  &.dark {
    &:hover {
      background-color: $dark-hover;
    }
  }
}
