@import "../../variables.scss";

$prefix-width: 2.5rem;

.inputWrapper {
  margin-bottom: 1.5rem;
  position: relative;
  $margin-h: $input-padding-h/8;

  .prefix {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding-left: $input-padding-h;
  }

  .suffix {
    position: absolute;
    right: $input-padding-h;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;

    :global(.ic) {
      width: 1.2rem;
    }

    button {
      background: none;
      border: none;
      font-size: 1.5rem;
      outline: none;
      padding: 0;
      margin: 0;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &.hasPrefix {
    input,
    textarea {
      padding-left: $input-padding-h + $prefix-width;
    }

    .placeholder {
      left: $input-padding-h - $margin-h + $prefix-width;
    }
  }

  input,
  textarea {
    border: $input-border-width solid $grey-light;
    padding: $input-padding-v $input-padding-h;
    border-radius: $input-radius;
    outline: none;
    width: 100%;

    &::placeholder {
      color: transparent;
    }

    &:focus {
      border-color: $blue;
    }

    &:focus:not(:placeholder-shown) ~ .placeholder {
      color: $blue;
    }

    &,
    &:focus {
      &,
      .placeholder {
        transition: border-color 0.3s ease;
      }
    }

    &:not(:placeholder-shown) ~ .placeholder {
      bottom: calc(100% - #{$input-padding-v/2});
      left: 20px;
      font-size: 11px;
      opacity: 1;
      background-color: #fff;
      color: $grey;
    }
  }

  textarea {
    line-height: 1.2;
    max-height: 10rem;
    height: 3rem;
    resize: none;
  }

  .placeholder {
    position: absolute;
    pointer-events: none;
    left: $input-padding-h - $margin-h;
    bottom: $input-padding-v + $input-border-width;
    padding: 0 calc(#{$margin-h} + 1px);
    transition: all 0.3s cubic-bezier(0.15, 0.5, 0, 1);
    color: $placeholder-color;
  }

  &.error {
    input,
    textarea {
      border-color: $red;
      &:not(:placeholder-shown) ~ .placeholder::before {
        content: "Invalid ‌";
        display: inline-block;
      }
    }

    .placeholder {
      color: $red !important;
    }
  }
}
