.container {
  animation: animateContainer 0.3s ease;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9000;
  background: #0009;
}

.modal {
  min-width: 400px;
  max-width: 100%;
  z-index: 10000;
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  height: fit-content;
  animation: animateModal 0.3s ease;

  .heading {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;

    h3 {
      margin: 0;
      flex: 1;
      font-weight: 500;
      padding-left: 1rem;
    }
  }

  .content {
    padding: 1rem;
    max-height: 70vh;
    overflow-y: auto;
  }
}

@keyframes animateContainer {
  from {
    background-color: #0000;
  }
  to {
    background-color: #0009;
  }
}

@keyframes animateModal {
  from {
    transform: translateY(1em);
  }
  to {
    transform: translateY(0);
  }
}
