@import "../../variables.scss";

.container {
  position: relative;
  height: 100%;
  overflow-y: scroll;

  .title {
    top: 0;
    margin: 0;
    padding: 0.5em;
    position: sticky;
    font-size: 1em;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.9);
    color: $grey;
    z-index: 9999;
  }

  .holder {
    display: grid;
    grid-gap: 0.2em;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.5em;

    &:empty {
      min-height: 50em;
    }
  }

  .preview {
    height: 6em;
    > :global(.lottieWrapper),
    img {
      width: 100%;
    }
  }
}
